$gray-0: #000000; // utmost black
$gray-1: #2D3139; // name color
$gray-2: #4B5361; // skill words in personel card, headings
$gray-3: #6D788D; // normal text color
$gray-4: #7A8598; // active link backdrop color in menu
$gray-5: #9199A9; // background color navigation and button color
$gray-6: #EBECF0; // line divider colors (underline of card title)
$gray-7: #D7DAE0; // bg color body
$gray-8: #FFFFFF; // white (bg for cards)



$theme-colors: (
  "primary":    $gray-3,
  "secondary":  $gray-2,
  "success":    $gray-4,
  "info":       $gray-5,
  "warning":    $gray-6,
  "danger":     $gray-0,
  "light":      $gray-7,
  "dark":       $gray-1,
  "white":      $gray-8
);

$link-color: $gray-8;
$link-hover-color: $gray-1;

$navbar-dark-color:         $gray-8;
$navbar-dark-hover-color:   $gray-2;